@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 400;
    src: url('~@/assets/fonts/Inter-Regular.woff2') format('woff2'),
      url('~@/assets/fonts/Inter-Regular.woff') format('woff'),
      url('~@/assets/fonts/Inter-Regular.ttf') format('truetype');
  }
  @font-face { // semibold
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 600;
    src: url('~@/assets/fonts/Inter-SemiBold.woff2') format('woff2'),
      url('~@/assets/fonts/Inter-SemiBold.woff') format('woff'),
      url('~@/assets/fonts/Inter-SemiBold.ttf') format('truetype');
  }
  @font-face { //bold
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 700;
    src: url('~@/assets/fonts/Inter-Bold.woff2') format('woff2'),
      url('~@/assets/fonts/Inter-Bold.woff') format('woff'),
      url('~@/assets/fonts/Inter-Bold.ttf') format('truetype');
  }